body { /* Html body tag */
  background-color : white;
}

div h2 { /* Title of the site tag */
  font-family:sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 15;
  margin-top: 8px;
  margin-left : 35px;
  color : #708090;
}

h3 {/* Body text */
  font-size: 27px;
  font-style: normal;
  font-weight: normal;
  font-family: fantasy;
  margin-left: -35px;
}

.grid { /* class of grid */
  margin-top: 20;
  margin-left :30;
  margin-bottom: 0px;
}


/* Head ids starts */
#head { /* Div head tab */
  height : 30px;
  background-color : #F5F5F5;
  overflow : hidden;

}

#signup { /*button sign up */
  margin-top : 2px;
  margin-rigth: 0px;
  margin-bottom: 0px;
  margin-left: 17px;
}

#signin { /* button sign in */
  margin-top : 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* Head Ids Ends */

/*Menu ids Starts */

#menu { /* Menu bar */
  height : 30px;
  background-color : #F5F5F5;
  margin-top : 4px;
  margin-bottom : 0px;
}

#menu h4 {/* Menu Bars buttons*/
  margin-top : 3px;
  margin-left : -50px;
  margin-right: 45px;
  background-color: #F5F5F5;
  border-radius: 3px;
  color : #CD5C5C;
}

#menu a{
  text-decoration : none;
}

#menu h4:hover {
  background-color: ;
  color : #CD5C5C;
  text-decoration: underline;
}

/*Menu Ids Ends */

/*body Ids Starts */

#body {
  background-color : #F5F5F5;
  margin-top: -5px;
  height: *px;
}

#signinb {
  margin-right : 250px;
  margin-left : 250px;
  border: 2px solid lightgray;
  display : none;
}

#signinc { /*user name */
  float : none;
  border : 2px solid lightgray;
  padding-top : 10px;
  padding-right : 10px;
  padding-bottom : 10px;
  padding-left : 10px;
  width : 300px;
}

#signinc .label { /* i sign in */
  margin-left : -200px;
}

a h5 {
  margin-right : 40px;
}
#signupb {
  margin-right : 250px;
  margin-left : 250px;
  border: 2px solid lightgray;
  display :none;
}
#signupc .label { /* i sign in */
  margin-left : 0px;
  margin-right : 70px;
}
#psssword {
  margin-right : 170px;
}
/*Tail */
